@font-face {
    font-family: 'english';
    src: url('/public/fonts/english.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'hindi';
    src: url('/public/fonts/hindi.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Noto Sans Telugu';
    src: url('/public/fonts/telugu.ttf') format('truetype');
  }

  @font-face {
    font-family: 'mangal';
    src: url('/public/fonts/mangal.ttf') format('truetype');
  }