@font-face {
    font-family: 'english';
    src: url('./english.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'devanagri';
    src: url('./devanagri.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'telugu';
    src: url('./telugu.ttf') format('truetype');
  }

  @font-face {
    font-family: 'mangal';
    src: url('/public/fonts/mangal.ttf') format('truetype');
  }